html, body {
    margin: 0;
    height: 100%;
}

.video-capture {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    bottom: 0;
}

.container .btn {
    position: absolute;
    bottom: 1em;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}


#video {
    width: 100%;
    min-height: 100%;
}


div.select {
    margin: 1rem .5rem;
    color: #000;
    text-shadow: #FFF 1px 1px 3px
}

.capture-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    pointer-events: none;
    display: none;
}

body.predicting .capture-img {
    display: block;
}

.capture-img #tmpImg {
    filter: brightness(30%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

img#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#money:before {
    content: "$";
}

#money {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-weight: bolder;
    font-size: 3rem;
    display: none;
}

body.ok img#loading {
    display: none;
}

body.ok #money {
    display: block;
}
